*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    width: 100%;
    background: linear-gradient(45deg,#000000,#fff);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}

@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

#search {
    text-align: center;
}

#searchInput {
    margin-right: 5px; /* Adjust spacing between input and button */
    padding: 5%;
    border-color: #000000;
    cursor: pointer;
    border-radius: 50px solide red;
    box-shadow: 5px 5px 5px #ffffff ;
}

#searchBtn {
    cursor: pointer;
    padding: 10px 8px;
}
